<ion-view view-title="Tugas">
  <ion-content class="padding" ng-controller="TugasCtrl as ctr">
    <a class="button button-block button-positive" href="#/tab/tugas/tambah">
      Tambah Tugas
    </a>

    <a href="#/tab/tugas/{{ tugas.id }}" style="text-decoration: none;" ng-repeat='tugas in ctr.tugas'>
    <div class="card">
      <div class="item item-text-wrap">
      	<h3>{{tugas.name}}</h3>
        {{tugas.desc}}
        <p>Deadline : {{tugas.date}}</p>
      </div>
    </div>
    </a>
  </ion-content>
</ion-view>