<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Teknik Kompilasi - Nama Dosen">
  <ion-content class="padding">
  <div class="list card">

    <div class="item">
      <h2>Nama Matkul</h2>
    </div>

    <div class="item item-body">
      <div class="row">
        <div class="col"> <strong>Dosen</strong></div>
        <div class="col">Choiriza </div>
      </div>
      <div class="row">
        <div class="col"> <strong>Jam</strong></div>
        <div class="col"> 11.00 - 12.00</div>
      </div>
    </div>

  </div>
    
  </ion-content>
</ion-view>
