<ion-view view-title="Jadwal">
  <ion-content>
    <ul class="list">
      <li class="item">
        <div class="item item-divider">
          Senin
        </div>
        <a class="item" href="#/tab/jadwal/1">
          <ion-nav-view name="tab-chats"></ion-nav-view>
          <strong>Teknik Kompilasi</strong> <span style="float: right;">08.00 - 10.00</span>
        </a>
        <a class="item" href="#/tab/jadwal/2">
          <strong>Matematika Dasar</strong> <span style="float: right;">13.00 - 14.00</span>
        </a>
      </li>
    </ul>
  </ion-content>
</ion-view>
