<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Form Tugas">
  <ion-content class="padding">
    <div class="list" ng-controller="TugasCtrl as ctr">
    <form ng-submit="ctr.simpan()">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nama Tugas</span>
        <input type="text" ng-model="ctr.nama" placeholder="Tugas Algoritma">
      </label>
      <label class="item item-input item-stacked-label">
      <span class="input-label">Deskripsi Tugas</span>
        <textarea ng-model="ctr.desc" placeholder="Kerjain Halanan 133 soal + jawaban"></textarea>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Tanggal Tugas</span>
        <input type="text" ng-focus='ctr.openDatePicker()' ng-model="ctr.date" placeholder="2017-03-12">
      </label>
      <button type="submit" class="button button-full button-positive">
        Simpan
      </button>
    </form>
    </div>
  </ion-content>
</ion-view>
