<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Nama Tugas - Matkul">
  <ion-content class="padding" ng-controller='TugasDetailCtrl as ctr'>
    <div class="list card">

    <div class="item">
      <h2>{{ ctr.tugas.name }}</h2>
      <p>Deadline: {{ ctr.tugas.date }}</p>
    </div>
    
    <div class="item item-body">
      <p class="padding">
        {{ ctr.tugas.desc }}
      </p>
      <div class="row">
        <div class="col"> <strong>Tanggal di buat</strong></div>
        <div class="col">{{ ctr.tugas.created_at }} </div>
      </div>
    </div>
    
    <a class="button button-block button-assertive" ng-click='ctr.destroy(ctr.tugas.id)'>
      Delete
    </a>
  </div>
  </ion-content>
</ion-view>
